* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: none;
    background-size: 1400px 100vh;
    height: 85vh;
    width: 100%;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px 0px 0px;
    position: relative;
}

.toggle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 1rem;
    right: .8rem;
    width: 40px;
    height: 32px;
    color: #ee661a;
    padding: 5px;
    border: 2px solid #ee661a;
    display: none;
}

.toggle .bar {
    height: 4px;
    width: 100%;
    background-color: #ee661a;
    border-radius: 10px;
}

#navigation .Logo {
    text-decoration: none;
    list-style: none;
    color: #fff;
    position: absolute;
    top: 0px;
    font-size: 2.5rem;
    font-family: 'Philosopher', sans-serif;
}

.Logo:hover {
    text-decoration: none;
    list-style: none;
    color: #f8b94c;
    position: absolute;
    top: 10px;
    font-size: 2.6rem;
    font-weight: 900;
}

#navigation {
    padding: 0px 30px;
    background-color: #000;
    align-items: center;
}

.navbar ul {
    display: flex; 
}

#navigation ul li {
    list-style: none;
    margin-left: 20px;
    padding: 5px;
    padding-top: 20px;
    font-size: 1.4rem;
    font-family: 'Philosopher', sans-serif;
    color: #fff;
}

.navbar ul li:hover {
    border-bottom: 2px solid #ee661a;
    border-radius: 8px;
}

#navigation ul li a {
    text-decoration: none;
    color: #FFF;
}

.section1 {
    
}

.section1 h1 {
    font-size: 4.7rem;
    color: #fff;
    font-family: 'Mate SC', serif;
}

.section1 p {
    color: #fff;
    font-size: 1rem;
    font-family: 'Crimson Pro', serif;
    margin-bottom: 40px;
}

.section1 a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    background-color: #ee661a;
    font-size: .9rem;
    font-family: 'Merriweather', serif;
    padding: 12px 24px;
    border-radius: 4px;
}

.section1 a:hover {
    color: #fff;
    font-size: .9rem;
    background-color: #f77a33;
}


.section2 {
    background-color: black;
    padding-bottom: 50px;
    
    
}
.section21 {
    padding-top: 50px;
    
}

.section21 h2 {
    color: #ee661a;
    text-align: center;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
}

.section21 .line {
    width: 5%;
    border: 1px solid rgb(85, 85, 85);
    height: 2px;
    margin: auto;
}

.section22 {
    margin-top: 50px;
    text-align: center;
}

.service1 {
    height: 80vh;
    width: 100%;
    background-image: url(buffet.jpg);
    background-size: 500px 80vh;
    margin-right: 2px;
}

.service1 h3 {
    font-size: 2.5rem;
    font-family: 'Mate SC', serif;
    color: #fff;
    padding: 80px 20px 100px 20px;
}

.service1 p {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Crimson Pro', serif;
    padding: 0px 20px 50px;
}

.service1a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #ee661a;
    padding: 15px 30px;
    font-family: 'Mate SC', serif;
    border-radius: 3px;
}

.service2 {
    height: 80vh;
    width: 100%;
    background-image: url(close.jpg);
    background-size: 500px 80vh;
}

.service2 h3 {
    font-size: 2.5rem;
    font-family: 'Mate SC', serif;
    color: #fff;
    padding: 80px 20px 100px 20px;
}

.service2 p {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Crimson Pro', serif;
    padding: 0px 20px 50px;
}

.service2a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #ee661a;
    padding: 15px 30px;
    font-family: 'Mate SC', serif;
    border-radius: 3px;
}

.service3 {
    height: 80vh;
    width: 100%;
    background-image: url(chicken.jpg);
    background-size: 500px 80vh;
    margin-left: 2px;
}

.service3 h3 {
    font-size: 2.5rem;
    font-family: 'Mate SC', serif;
    color: #fff;
    padding: 80px 20px 100px 20px;
}

.service3 p {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Crimson Pro', serif;
    padding: 0px 20px 50px;
}

.service3a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #ee661a;
    padding: 15px 30px;
    font-family: 'Mate SC', serif;
    border-radius: 3px;
}

.service3a:hover,
.service2a:hover,
.service1a:hover {
    color: #fff;
    font-size: 1rem;
    background-color: #f77a33;
}

.section3 {
    padding: 50px 0px;
    background-color: rgb(246, 246, 246);
}

.section31 {
    text-align: center;
}

.section31 h2 {
    color: #ee661a;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 20px;
}

.section31 .line {
    width: 5%;
    border: 1px solid rgb(197, 197, 197);
    height: 2px;
    margin: auto;
    margin-bottom: 50px;
}

.section31 .social {
    display: flex;
    justify-content: center;
}

.facebook {
    margin-right: 50px;
}

.section4 {
    background-color: #ee661a;
    padding: 60px 0px;
}

.section41 {
    text-align: center;
}

.section41 h2 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 30px;
}

.section41 p {
    font-size: 1.1rem;
    color: #fff;
    font-family: 'Crimson Pro', serif;
    padding-bottom: 5px;
}

#EmailAddress {
    width: 80%;
    margin-left: 200px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.email {
    justify-content: center;
    align-items: center;
}

.form-control::placeholder {
    color: #fff;
    font-family: 'Crimson Pro', serif;
}

.button {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-weight: 600;
    background-color: #fff;
    font-family: 'Mate SC', serif;
    border-radius: 3px;
    margin-right: 150px;
}

.button:hover {
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.767);
}

.section5 {
    padding: 60px 0px;
    background-color: rgb(246, 246, 246);
}

.section51 {
    text-align: center;
}

.section51 h2 {
    color: #ee661a;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 20px;
}

.section51 h6 {
    font-size: 1.2rem;
}

.section51 p {
    font-family: 'Crimson Pro', serif;
    font-size: 1.2rem;
    padding: 30px 150px;
}

.section51 .line {
    width: 5%;
    border: 1px solid rgb(197, 197, 197);
    height: 2px;
    margin: auto;
    margin-bottom: 50px;
}

.ordermail {
    text-decoration: underline;
    color: #ee661a;
    font-size: 1.2rem;
    font-family: 'Crimson Pro', serif;
}

.ordermail:hover {
    color: #ee661a;
    font-size: 1.3rem;
    font-weight: 600;
}

#address {
    font-family: 'Crimson Pro', serif;
    font-size: 1.5rem;
}

#phone {
    color: #ee661a;
    font-size: 1.4rem;
    font-family: 'Crimson Pro', serif;
    text-decoration: none;
    font-weight: 700;
}

.phone:hover {
    color: #ee661a;
}

.section52 {
    text-align: center;
    padding-top: 70px;
}

.quote {
    text-decoration: none;
    color: #fff;
    background-color: #ee661a;
    padding: 17px 40px;
    font-weight: 500;
    font-size: .9rem;
    font-family: 'Mate SC', serif;
    border-radius: 3px;
}

.quote:hover {
    color: #fff;
    background-color: #f77a33;
}

footer {
    background-color: black;
}

.section6 {
    padding: 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section6 p {
    color: rgb(160, 158, 158);
    font-size: 1rem;
    padding-top: 20px;
    font-family: 'Crimson Pro', serif;
}

.name {
    text-decoration: none;
    color: #ee661a;
}

.name:hover {
    color: #ee661a;
}
  


/*MEDIA QUERIES*/

@media (max-width: 320px) {


    body,
    html {
        overflow-x: hidden;
    }

    .toggle {
        display: flex;
        right: 0rem;
    }

    header {
        background-image: none;
        background-color: rgba(5,5,5);
        background-size: 250vh 40vh;
        height: 40vh;
        width: 50%;
    }

    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 17vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.2rem;
        font-family: 'Philosopher', sans-serif;
        color: #ee661a;
    }

    .navbar ul li a {
        color: #ee661a;
        text-decoration: none;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 10px;
        font-size: 1.8rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 50px;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 50px;
    }
    
    .section1 h1 {
        font-size: 2rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 0px; 
    }
    
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
    }

    .section21 {
        padding-bottom: 50px;
    }

    img {
        height: 50vh;
    }

    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: .9rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
    
}


@media (min-width: 321px) and (max-width: 576px) {
    body,
    html {
        overflow-x: hidden;
    }

    .toggle {
        display: flex;
        right: 0rem;
    }

    header {
        background-color: rgba(5,5,5);
        background-size: 250vh 40vh;
        height: 40vh;
        width: 50%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 18vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.3rem;
        font-family: 'Philosopher', sans-serif;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #ee661a;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 10px;
        font-size: 1.9rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 15%;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 50px;
    }

    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }
    
    .section1 h1 {
        font-size: 2.3rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 4%;
    }
    
    img {
        height: 55vh;
    }
        
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
    }
    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;   
    }
   
    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: .96rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    body,
    html {
        overflow-x: hidden;
    }

    .toggle {
        display: flex;
        right: 0rem;
    }

    header {
        background-color: rgba(5,5,5);
        background-size: 250vh 80vh;
        height: 80vh;
        width: 50%;
    }
    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 65vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.4rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 10px;
        font-size: 1.7rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 8%;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 45px;
    }
    
    .section1 h1 {
        font-size: 2.6rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 0px;
        
    }
        
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
    }
    .section21 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    img {
        height: 90vh;
    }
    
    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    body,
    html {
        overflow-x: hidden;
    }


    .toggle {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 1.5rem;
        right: 0rem;
        width: 50px;
        height: 42px;
        color: #ee661a;
        padding: 5px;
        border: 2px solid #ee661a;
    }
    
    .toggle .bar {
        height: 7px;
        width: 100%;
        background-color: #ee661a;   
    }


    header {
        background-image: none;
        background-color: rgba(5,5,5);
        background-size: 250vh 70vh;
        height: 70vh;
        width: 50%;
    }
    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 30vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.6rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 15px;
        font-size: 2.7rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 80px;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 70px;
    }
    
    .section1 h1 {
        font-size: 5rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 30px;
        
    }
    
        
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
        
    }
    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}




@media (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
    body,
    html {
        overflow-x: hidden;
    }

    


    .toggle {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 1.5rem;
        right: 0rem;
        width: 42px;
        height: 34px;
        color: #ee661a;
        padding: 5px;
        border: 2px solid #ee661a;
    }
    
    .toggle .bar {
        height: 5px;
        width: 100%;
        background-color: #ee661a;   
    }


    header {
        background-color: rgba(5,5,5);
        background-size: 250vh 80vh;
        height: 80vh;
        width: 50%;
        
    }

    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
        max-width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 65vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.7rem;
        font-family: 'Philosopher', sans-serif;
    }

    .navbar ul li a {
        color: #ee661a;
        text-decoration: none;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 15px;
        font-size: 2rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 60px;
        max-width: 100%;
    }
    
    .section1 h1 {
        font-size: 2.9rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 0px;
        
    }
        
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
    }

    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img {
        height: 80vh;
    }

    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1.05rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    body,
    html {
        overflow-x: hidden;
    }

    
    .toggle {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 1.5rem;
        right: 0rem;
        width: 42px;
        height: 34px;
        color: #ee661a;
        padding: 5px;
        border: 2px solid #ee661a;
    }
    
    .toggle .bar {
        height: 5px;
        width: 100%;
        background-color: #ee661a;   
    }


    header {
        background-color: rgb(5, 5, 5);
        background-size: 250vh 40vh;
        height: 40vh;
        width: 50%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        border-bottom: none;
        max-width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-content: center;
        margin-right: 25vh;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar ul li {
        list-style: none;
        padding: 5px;
        padding-top: 10px;
        font-size: 1.9rem;
        font-family: 'Philosopher', sans-serif;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #ee661a;
    }

    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 15px;
        font-size: 2.4rem;
        font-family: 'Philosopher', sans-serif;
    }

    .Logo:hover {
        font-size: 1.85rem;
    }

    .section1 {
        position: relative;
        left: 0px;
        width: 100%;
        padding-top: 80px;
        text-align: center;
        border-top: 2px solid #ee661a;
        margin-top: 60px;
        max-width: 100%;
    }
    
    .section1 h1 {
        font-size: 5rem;
        color: #fff;
        font-family: 'Mate SC', serif;
        padding-bottom: 0px;
    }
    
    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }
    
        
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;
        
    }
    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img {
        height: 70vh;
    }
    
    .section6 {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1.1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}



@media (min-width:992px) and (max-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        background-color: rgb(5, 5, 5);
        background-size: 250vh 30vh;
        height: 30vh;
        width: 50%;
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0px 0px 0px;
        border-bottom: 2px solid #ee661a;
    }
    
    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 0px;
        font-size: 2.8rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .Logo:hover {
        text-decoration: none;
        list-style: none;
        color: #f8b94c;
        position: absolute;
        top: 10px;
        font-size: 2.6rem;
        font-weight: 900;
    }
    
    .navbar ul {
        display: flex; 
    }
    
    .navbar ul li {
        list-style: none;
        margin-left: 20px;
        padding: 5px;
        font-size: 1.8rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .navbar ul li:hover {
        border-bottom: 2px solid #ee661a;
        border-radius: 8px;
    }
    
    
    .navbar ul li a {
        text-decoration: none;
        color: #ee661a;
    }
    
    ul .navbar1 {
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    .section1 {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    
    .section1 h1 {
        font-size: 7rem;
        color: #fff;
        font-family: 'Mate SC', serif;
    }

    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }
    
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;  
    }

    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    img {
        height: 60vh;
    }
    
    footer {
        background-color: black;
    }
    
    .section6 {
        padding: 30px 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1.1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
         
}



@media (min-width:992px) and (max-width: 1200px) and (orientation: landscape) {
    ** {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        background-color: rgb(5, 5, 5);
        background-size: 250vh 50vh;
        height: 50vh;
        width: 50%;
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0px 0px 0px;
        border-bottom: 2px solid #ee661a;
    }
    
    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 0px;
        font-size: 2.8rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .Logo:hover {
        text-decoration: none;
        list-style: none;
        color: #f8b94c;
        position: absolute;
        top: 10px;
        font-size: 2.6rem;
        font-weight: 900;
    }
    
    .navbar ul {
        display: flex; 
    }
    
    .navbar ul li {
        list-style: none;
        margin-left: 20px;
        padding: 5px;
        font-size: 1.8rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .navbar ul li:hover {
        border-bottom: 2px solid #ee661a;
        border-radius: 8px;
    }
    
    
    .navbar ul li a {
        text-decoration: none;
        color: #ee661a;
    }
    
    ul .navbar1 {
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    .section1 {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    
    .section1 h1 {
        font-size: 5rem;
        color: #fff;
        font-family: 'Mate SC', serif;
    }

    .line {
        width: 15%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }
    
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 0px;  
    }

    .section21 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    img {
        height: 70vh;
    }
    
    footer {
        background-color: black;
    }
    
    .section6 {
        padding: 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1.1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }

}


@media (min-width: 1201px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        background-image: none;
        background-color: rgba(5,5,5);
        background-size: 1400px 40vh;
        height: 40vh;
        width: 100%;
    }

    .line {
        width: 10%;
        height: 2px;
        border: 1px solid rgb(85, 85, 85);
        margin: auto;
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0px 0px 0px;
        border-bottom: 2px solid #ee661a;
    }
    
    .Logo {
        text-decoration: none;
        list-style: none;
        color: #ee661a;
        position: absolute;
        top: 0px;
        font-size: 2.5rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .Logo:hover {
        text-decoration: none;
        list-style: none;
        color: #f8b94c;
        position: absolute;
        top: 10px;
        font-size: 2.6rem;
        font-weight: 900;
    }
    
    .navbar ul {
        display: flex; 
    }
    
    .navbar ul li {
        list-style: none;
        margin-left: 20px;
        padding: 5px;
        font-size: 1.3rem;
        font-family: 'Philosopher', sans-serif;
    }
    
    .navbar ul li:hover {
        border-bottom: 2px solid #ee661a;
        border-radius: 8px;
    }
    
    
    .navbar ul li a {
        text-decoration: none;
        color: #ee661a;
    }
    
    ul .navbar1 {
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    .section1 {
        position: relative;
        left: 0px;
        width: 50%;
        margin-top: 40px;
        text-align: center;
    }
    
    .section1 h1 {
        font-size: 3.7rem;
        color: #fff;
        font-family: 'Mate SC', serif;
    }
    
    
    .section2 {
        background-color: rgb(246, 246, 246);
        padding-bottom: 50px;
        height: 80vh;
    }

    .section21 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    img {
        height: 80vh;
    }
    
    .section21 .line {
        width: 5%;
        border: 1px solid rgb(85, 85, 85);
        height: 2px;
        margin: auto;
    }
    
    footer {
        background-color: black;
    }
    
    .section6 {
        padding: 30px 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .section6 p {
        color: rgb(160, 158, 158);
        font-size: 1.1rem;
        padding-top: 20px;
        font-family: 'Crimson Pro', serif;
    }
    
    .name {
        text-decoration: none;
        color: #ee661a;
    }
    
    .name:hover {
        color: #ee661a;
    }
}